.card-sl {
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-image img {
  max-height: 100%;
  max-width: 100%;
  border-radius: 8px 8px 0px 0;
}

.card-action:hover {
  background: #1d3461;
  box-shadow: 0 2px 12px  rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.card-heading {
  font-size: 18px;
  font-weight: bold;
  background: #fff;
  padding: 10px 15px;
}

.card-text {
  padding: 10px 15px;
  background: #fff;
  font-size: 14px;
  color: #636262;
}

.card-button {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  width: 100%;
  background-color: #1f487e;
  color: #fff;
  border-radius: 0 0 8px 8px;
}

.card-button:hover {
  text-decoration: none;
  background-color: #1d3461;
  color: #fff;
}

.card-action {
  text-decoration: none;
  position: relative;
  float: right;
  margin-top: -10px;
  margin-right: 20px;
  z-index: 2;
  color: #f1e9db;
  font-weight: bolder;
  background: #1f487e;
  padding: 6px 8px;
  border-radius: 100px;
  box-shadow: 0 6px 12px  rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
.card-image {
  background: #fff;
  text-align: center;
  /* max-height: 200px; */
  height: 200px;
  overflow: hidden;
}
.truncate-4 {
  display: -webkit-box;
  /* max-width: 200px; */
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
